<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
    <body>
        <div th:fragment="sidebar(activeUri)">
            <div id="sidebar-overlay" class="sidebar-overlay"></div>
            <nav
                id="sidebar"
                class="sidebar d-flex flex-column flex-shrink-0 p-3"
            >
                <div class="sidebar-header mb-4">
                    <a th:href="@{/}" class="brand-logo text-decoration-none">
                        <img th:src="@{/imagen/icono-Recksi.jpg}" alt="recksi"
                    class="rounded-circle me-2" style="width:50px; height:50px; object-fit:cover;"> Inventario Recksi
                    </a>
                    <button
                        id="close-sidebar"
                        class="btn-close-custom d-md-none"
                    >
                        <i class="bi bi-x-lg"></i>
                    </button>
                </div>

                <ul class="nav nav-pills flex-column mb-auto">
                    <li
                        th:each="opcion : ${session.menuOpciones}"
                        class="nav-item mb-1"
                    >
                        <a
                            th:href="@{${opcion.ruta}}"
                            class="nav-link d-flex align-items-center"
                            th:classappend="${opcion.ruta == activeUri} ? 'active' : ''"
                        >
                            <i th:class="${opcion.icono} + ' me-3 fs-5'"></i>
                            <span th:text="${opcion.nombre}"></span>
                        </a>
                    </li>
                </ul>
                <div class="mt-auto pt-3 border-top border-secondary">
                    <a
                        th:href="@{/logout}"
                        class="nav-link logout-link d-flex align-items-center"
                    >
                        <i class="bi bi-box-arrow-left me-3 fs-5"></i> Cerrar
                        Sesión
                    </a>
                </div>
            </nav>
        </div>
    </body>
</html>
